@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");


$light: #faf0e6;
$dark: #092635;
$red: #ff206e;
$yellow: #ffcb47;
$blue: #5dd9c1;
$purple: #8d86c9;


.color-red {
  color: $red;
}

.color-yellow {
  color: $yellow;
}

.color-blue {
  color: $blue;
}

.color-purple {
  color: $purple;
}

@mixin text {
  color: $light;
  font-family: "Source Code Pro", monospace;
  user-select: none;
  font-size: 1.1em;
}
@mixin custom-border {
  border: $light solid 4px;
}
@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
 

html {
  background-color: $dark;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 8fr;
}
nav {
  margin-top: 1vw;
  grid-column: 1;
  position: fixed;
  @include custom-border;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 2vw;
      a {
        @include text;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        transition: 0.2s ease-in-out;
      }
      a:hover {
        border-bottom: $light solid 4px;
        transition: 0.2s ease-in-out;
      }
    }
  }
}
.main {
  grid-column: 2;
  width: 75vw;

  .item {
    position: sticky;
    top: 1vw;
    background: $dark;
    @include custom-border;
  }
  .welcome {
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;

    pre {
      display: flex;
      justify-content: center;
      grid-row: 1;
      grid-column: 1;
      @include text;
    }
    p {
      padding: 2%;
      grid-row: 2;
      grid-column: 1;
      padding-left: 2%;
      text-align: justify;
      @include text;
    }
    ul {
      @include display-flex;
      grid-column: 1;
      grid-row: 3;
      list-style: none;
      padding: 0;
      flex-direction: row;
      width: 100%;
     
      li {
        transition: 0.5s ease-out;
        padding: 1vw;
        box-shadow: inset 0 -1px 0 0 $light;
        @include custom-border;
        a {
          @include text;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold;
        }

        a[href="https://github.com/konLiogka"]
        {
          color: $red;
        }

        a[href="https://www.linkedin.com/in/konstantina-liogka-17b4052b3/"]
        {
          color: $yellow;
        }

        a[href="https://www.instagram.com/k.liogka/"]
        {
          color: $blue;
        }

        a[href="images/liogkaKonstantina.pdf"]
        {
          color: $purple;
        }

        &:hover {
          transition: 0.5s ease-in;
          box-shadow: inset 0 -150px 0 0 $light;
        }
      }
    }
    #terminal {
      @include display-flex;
      grid-column: 2;
      grid-row: 1/4;

      height: 100%;
      flex-direction: column;
      background: $light;
      box-sizing: border-box;
      .window {
        background-color: $dark;
        height: 4%;
        width: 88%;
        margin-bottom: 1vw;
        display: flex;
        justify-content: right;

        a {
          text-decoration: none;
          padding-left: 2%;
          padding-right: 2%;
          @include text;
          font-size: 1.4rem;
        }
      }
      .terminal {
        width: 88%;
        height: 70%;
        background: $dark;
        overflow-y: scroll;
        .output {
          padding: 0.3vw;
          @include text;
        }
        .input-line {
          padding: 0.3vw;
          display: flex;
          align-items: center;
          @include text;

          .input {
            background: transparent;
            border: none;
            outline: none;
            @include text;
            font-size: inherit;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  .about {
    margin-top: 1vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    
    img{
      width:90%;
      border: 5px solid black;
      margin:2vw;
      margin-top:10vw;
    }
    .info{
      grid-column: 2;
      h1{
        padding: 2%;
    
        text-align: justify;
        @include text;
      }
      p {
        padding: 2%;
  
        padding-left: 2%;
        text-align: justify;
        @include text;
       
      }
    }
   

   
   
   

  
  }

  .blog {
    
    margin-top: 1vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    h1{
      padding-left: 2%;
     
      text-align: justify;
      @include text;
    }
    ul {
      padding-left: 2%;
    
      list-style: none;
    
      li {
        padding: 1vw;
    
        a {
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold;
          transition: 0.2s ease-in-out;
          @include text;
  
        }
         
      }
    }

    #gifs {
      margin: 2vw;
      grid-row: 2;
      grid-column: 2;
      width: auto;
      max-width: 100vw;
      margin: 0 auto;
      padding: 10px;
      box-sizing: border-box;
      img {
        max-width: 90%;
        width: auto;
        height: auto;
      }
    }
   
  }

}

@media screen and (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;

    nav {
      display: flex;
      position: relative;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: row;
      }
    }
    .main {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      .item {
        position: relative;
      }
      .welcome {
        display: inline;
        width: 98vw;
        height: 140vh;
        @media screen and (max-width: 500px) {
          pre {
            visibility: hidden;
            position: absolute;
          }
          ul {
            flex-direction: column;
            align-items: center;
            li {
              a {
                font-size: medium;
              }
            }
          }
        }

        p {
          text-align: center;
        }
        ul {
          flex-direction: row;
          justify-content: center;
        }
        #terminal {
          justify-content: start;
          align-items: center;

          .window {
            width: 95%;
            margin-top: 1vw;
          }
          .terminal {
            font-size: small;
            width: 95%;
            height: 50%;
          }
        }
      }
      .about {
        width: 98vw;
        height: 10%;
        display: flex;
        flex-direction: column;
      }
      .blog {
        width: 98vw;
        #gifs {
          img{
            width:12%;
          }
      
        }
      }
    }
  }
}
