@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    background-color: #000000;
    color: #cfc7c7;
    font-family: "JetBrains Mono", monospace;
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    line-height: 1.4;
}

main {
    border: 1px solid;
    background-color: #0F0F0F;
    padding: 2em;
}

h1,
h2 {
    text-align: center;
    color: #B25068;
}

p {
    margin: 0.8rem 0;
    text-align: justify;
}

.imgs {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    
}

 

@keyframes bounce {
    0% {
        transform: translateY(0) rotate(-10deg);
    }

    25% {
        transform: translateY(-5px) rotate(5deg);
    }

    50% {
        transform: translateY(-10px) rotate(-5deg);
    }

    75% {
        transform: translateY(-5px) rotate(5deg);
    }

    100% {
        transform: translateY(0) rotate(-10deg);
    }
}

.bounce {
  display: inline-block;
  font-size: 1.2em;
  animation: bounce 0.6s ease infinite alternate;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.glitch {
  display: inline-block;
  animation: glitch 0.5s infinite;
}

@keyframes glitch {
  0%   { transform: translate(0,0); color: #cfc7c7; }
  20%  { transform: translate(-1px,1px); color: #141285; }
  40%  { transform: translate(1px,-1px); color: #00fff9; }
  60%  { transform: translate(-1px,0); color: #bdb9b9; }
  80%  { transform: translate(1px,1px); color: #d9ff00; }
  100% { transform: translate(0,0); color: #cfc7c7; }
}

footer {
    display: flex;
    flex-direction: column;
    
}
 
 
 

#home {
    text-align: left;
}

#home a {
    color: #666;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}