
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
  max-width:90vw;
  font-family: Open Sans,Arial;
  background-color: #0F0F0F;
  color: #cfc7c7;
  font-size: 16px;
  margin: 1em auto;
  max-width: 800px;
  text-align: justify;
  border: 1px solid #cfc7c7;
  line-height: 1.4;
  padding: 1vw;
  font-family: "JetBrains Mono", monospace;
  
  word-break: break-all;
}

/* For the images */
.imgs{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

img{
    padding:2vw;
}

/* For the bannes on the top of the page */
.banners{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banners p{
    padding:0.5em;
    color:#0E8388;
}

/* For commands inside <p> */
.command {
    display: flex;
    font-family: monospace;

}
.command p:first-child {
 
    margin-right: 10px;
    color: #B25068;
}
 
/* For the code blocks */
.keyword {
    color: #83a598; 
    font-weight: bold;
}

.variable {
    color: #d3869b; 
}

.value {
    color: #b8bb26; 
}

.command {
    color: #8ec07c;  
}

.string {
    color: #b8bb26; 
}

.comment {
    color: #928374;  
    font-style: italic;
}

 
.code-container {
    display: inline-block;
    max-width:85vw;

    font-family: 'Courier New', Courier, monospace;
    background-color: #212020;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
}

